{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Home/css/forms.css' %}">
{% endblock head %}

{% block title %}Login{% endblock title %}

{% block main %}
<h1 class="login-heading">Login</h1>
<p class="error-message">{{message}}</p>
<div class="login-form">
    <form action="/login/?next={{redirect_to}}" method="post">
        {% csrf_token %}
        <input type="text" name="param" placeholder="Username/Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login" class="login-btn">
    </form>
</div>
<p class="form-bottom-links">New User? <a href="{% url 'signup' %}">Sign Up</a></p>
<p class="form-bottom-links"><a href="{% url 'reset' %}">Forgot Password?</a></a></p>
{% endblock main %}